.history-list {
  width: 240px;
  height: 0px;
  position: absolute;
  background-color: rgb(48, 48, 48);
  /* background-color: red; */
  z-index: 10;
  border-radius: 20px;
  bottom: 260px;
  transition-property: height;
  transition-duration: 300ms;
  transition-timing-function: linear;
  transition-delay: 50ms;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.history-icon {
  position: absolute;
  top: 60px;
  left: 43.5%;
  cursor: pointer;
  color: white;
  z-index: 15;
}

.history-icon:focus ~ .history-list {
  height: 310px;
}

.history-icon:focus ~ .history-list p {
  visibility: visible;
}

.history-list p {
  color: rgb(201, 201, 201);
  right: 20px;
  margin-left: 20px;
  visibility: hidden;
}
